$catprod:(
    marg: 10px,
    padd: 15px,
    display-f: flex,
    flex-drow: row,
    jus-cont-sa: space-around,
    txt-d: none,
    flex-dcol: column,
    al-items: center,
    trtion: all 1.5s,
    trform: scale(1.09),
    img-width: 300px,
    img--height: 300px,
    b-radius: 155px,    
)

