$bg-color-uno: linear-gradient(100deg, #FDBB2D 0%, #3A1C71 100%);
$bg-color-dos: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
$bg-color-tres: rgb(85, 19, 65);
$bg-color-cuatro: transparent;
$bg-color-cinco: radial-gradient(circle, rgba(11, 17, 71, 1) 0%, rgba(77, 226, 199, 1) 50%, rgba(7, 4, 38, 1) 100%);
$bg-color-seis: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
$bg-color-siete: radial-gradient(circle, rgba(11, 17, 71, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(38, 24, 4, 1) 100%);
$hv-color-uno: rgb(134, 143, 151);
$hv-color-dos: rgb(75, 99, 28);
$txt-color-uno: black;
$txt-color-dos: white;
$txt-color-tres: rgb(10, 9, 9);