*{
    margin: 0;
    padding: 0;
    
}

body {
    background: $bg-color-uno;
    font-family: Arial, Helvetica, sans-serif;

}

/*Inicio de nv y heder*/
.primario {
    align-items: center;
    align-content: center;
    /*display: grid;
    grid-template-columns: 0.5fr, 1fr, 1fr;
    grid-template-rows: 0.5fr, 1fr, 1fr;
    grid-template-areas:
        "logo-tit b-nav b-nav"
        ". info-dos info-dos"
        ". info-uno img-vid"

    ;*/
}

.logo-tit {
    grid-area: logo-tit;
    background: $bg-color-cuatro;
}

.navbar-rs {
    display: flex;
    flex-direction: row;
    grid-area: b-nav;
    font-size: 1.8vw;
    background: $bg-color-dos;
    width: fit-content;
    justify-content: stretch;
    align-self: center;

    & a {
        color: $txt-color-tres;
        text-align: center;
        list-style: none;
        align-self: flex-start;

        &:hover {
            background: $hv-color-uno;
        }
    }

    .nav-link {
        color: $txt-color-uno;

    }
}

/*Esta parte es un link con imagenes miniatura de lo que menciona en cada red social*/
.claseRedes {
    background-color: $bg-color-cuatro;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15vw;
    border: 2px solid;

    a i {
        color: $txt-color-tres;
    }
}

.div-up {
    position: fixed;
    bottom: 25vw;
    right: 88vw;
    background-color: $bg-color-cuatro;
    text-decoration: none;
    margin: 2%;
    padding: 2%;
    font-size: 6vw;

    a {
        color: $txt-color-dos
    }

    

}

.div-wp {
    position: fixed;
    bottom: 25vw;
    left: 87vw;
    background-color: transparent;
    text-decoration: none;
    margin: 0.5%;
    padding: 0.5%;
    font-size: 6vw;

    a {
        color: $txt-color-dos;

    
    }
}

.articleVarios {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}