* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg-color-seis;
    font-family: Arial, Helvetica, sans-serif;

}

/*Inicio de nv y heder*/
.primario {
    align-items: center;
    align-content: center;
    background-color: #aaaa8a;
}

.logo-tit {
    display: flex;
    grid-area: logo-tit;
    background: $bg-color-cuatro;
}

.navbar-rs {
    display: flex;
    flex-direction: row;
    grid-area: b-nav;
    font-size: 1.8vw;
    background: #aaaa8a;
    width: fit-content;
    justify-content: stretch;
    align-self: center;

    & a {
        color: $txt-color-tres;
        text-align: center;
        list-style: none;
        align-self: flex-start;

        &:hover {
            background: $hv-color-uno;
        }
    }

    .nav-link {
        color: $txt-color-uno;

    }

    .btn {
        color: whitesmoke;
        border-color: whitesmoke;
        transition: none;

        a {
            text-decoration: map-get($catprod , txt-d);
            color: $txt-color-uno;

        }

        &:hover {
            background: $bg-color-seis;

        }
    }

    .btn-check:focus &:focus {
        box-shadow: none;
        color: brown;
        transition: none;
    }

    a:focus {
        outline: none;
        color: brown;
        transition: none;
    }

    &.navbar-toggler:focus {
        outline: none !important;
        box-shadow: none;
        transition: none;
    }
}

/*Esta parte es un link con imagenes miniatura de lo que menciona en cada red social*/
.claseRedes {
    background-color: $bg-color-cuatro;
    @include mixredes();

    a i {
        color: $txt-color-tres;
    }
}

.div-up {
    position: fixed;
    bottom: 30vw;
    left: 86vw;
    background-color: $bg-color-cuatro;
    text-decoration: none;
    margin: 2%;
    padding: 2%;
    font-size: 9vw;

    a {
        color: $txt-color-uno;
    }



}

.div-wp {
    position: fixed;
    bottom: 18vw;
    left: 86vw;
    background-color: $bg-color-cuatro;
    text-decoration: none;
    margin: 2vw;
    padding: 2vw;
    font-size: 9vw;

    a {
        color: $txt-color-uno;
    }
}

.articleVarios {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}