/*Empieza el media querie 320px*/
@media (min-width: 320px) and (max-width: 767.9px) {

    /*comienza nav y header*/
    .primario {
        margin: 2px;
        padding: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;


        & ul li a {
            font-size: large;
        }
    }

    h1 {
        margin: 2px;
        padding: 2px;
        font-size: medium;
    }

    /*carousel y seccion sobre nosotros*/
    .localH {

        margin: 2px;
        padding: 2px;
        width: auto;

    }

    .div-nos {
        align-items: center;
        justify-content: center;
        padding-right: 0%;
        padding-left: 0%;

        .row {
            --bs-gutter-x: 0.1rem;
            justify-content: space-around;
        }

        div div {
            text-align: center;
        }


    }

    /* Redes Sociales*/
    .claseRedes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2vw;
        padding: 5vw;


    }

    /*Seccion productos*/
    .secProductos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3px;
        padding: 5px;
        gap: 20px;

    }

    .divBazar {
        width: fit-content;

        .img-b-r {
            max-width: 300px;
            max-height: 300px;
            border-radius: 135px;
        }

    }

    .divDeco {
        width: fit-content;

        .img-b-r {
            max-width: 300px;
            max-height: 300px;
            border-radius: 135px;
        }

    }

    .divHogar {
        width: fit-content;

        .img-b-r {
            max-width: 300px;
            max-height: 300px;
            border-radius: 135px;
        }

    }

    .articleVarios {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 10px;
        gap: 40px;

        & section {
            gap: 30px;
        }

    }

    /*Footer*/
    footer {
        display: flex;
        flex-direction: column;


        & iframe {
            float: none;
        }
    }
}

/*Empieza el media querie 768px */
@media (min-width: 768px) and (max-width: 991.98px) {
    * {
        box-sizing: border-box;
    }

    /*nav y header*/
    .primario {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .navLinks {
        margin: 3px;
        padding: 2px;
        justify-content: center;
    }

    /*carousel y seccion sobre-nosotros*/
    .localH {

        width: auto;
        margin: 0.5px;
        padding: 0.5px;


    }

    .div-nos {
        align-items: center;
        justify-content: center;
        max-width: fit-content;
        max-height: fit-content;

        div div {
            text-align: center;
        }


    }

    /*seccion productos*/
    .secProductos {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3px;
        padding: 5px;
        font-size: xx-large;

    }

    .articleVarios {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 10px;

    }

    /*footer*/
    .footer {
        border: 3px solid $bg-color-tres;
        margin: 2px;
        padding: 1.5px;
        height: fit-content;
        width: fit-content;
        font-size: medium;
        text-align: center;

        div {
            justify-content: space-between;
            font-size: 2.5vw;
        }

        iframe {
            margin: 5px;
            padding: 5px;
        }
    }
}