.localH {
    overflow: hidden;
    grid-area: img-vid;
    margin: 10px;
    padding: 15px;
    
    
    & div {
        float:none;
    }
}


.div-nos {
    overflow: hidden;  
    margin: 2px;
    padding: 5px;
    background-color: $bg-color-seis;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: info;
    max-height: min-content;

    & img {
        padding: 5px;        
        max-width: 15vw;
    }
    & main {
        padding: 5px;
        font-size: 2vw;
        color: $txt-color-tres;
    }
}

/* Especificamene esta es la parte principal de la pagina ya que aqui se econtraria el catalogo de la categoria de productos a la venta*/
.secProductos {
    margin: 10px;
    padding: 15px;
    gap: 40px;
    display: flex;
    justify-content:space-around;

    a {
        text-decoration: none;
        color: $txt-color-uno;

    }

    &:hover {
        background: $bg-color-seis;

    }


    .divBazar {
        background: $bg-color-cinco;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 2s;

        &:hover {
            transform: scale(1.2);
        }

        .img-b-r {
            width: 300px;
            height: 300px;
            border-radius: 155px;
        }

        a {
            text-decoration: none;
            color: $txt-color-dos;


            &:hover {
                transform: scale(1.2);
                background: $bg-color-tres;

            }
        }
    }

    .divDeco {
        background: $bg-color-cinco;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 2s;

        &:hover {
            transform: scale(1.2);
        }

        .img-b-r {
            width: 300px;
            height: 300px;
            border-radius: 155px;
        }

        a {
            text-decoration: none;
            color: $txt-color-dos;
            transition: all 2s;

            &:hover {
                background: $bg-color-tres;
                transform: scale(1.2);
            }
        }
    }

    .divHogar {
        background: $bg-color-cinco;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 2s;

        &:hover {
            transform: scale(1.2);
        }

        .img-b-r {
            width: 300px;
            height: 300px;
            border-radius: 155px;
        }

        a {
            text-decoration: none;
            color: $txt-color-dos;
            transition: all 2s;

            &:hover {
                background: $bg-color-tres;
                transform: scale(1.2);
            }
        }
    }
}